<!DOCTYPE html>

<meta charset="utf-8">
<title>{{.Title}}</title>
<link rel="stylesheet" href="/static/bland.css">
<script type="text/javascript" src="/static/bland.js"></script>

<header>
    <nav>
        <span class="group">
            show:
            {{if eq .Path "/"}}
                <span class="navitem">all</span>
            {{else}}
                <a href="/" class="navitem">all</a>
            {{end}}

            {{if hasPrefix .Path "/unread"}}
                <span class="navitem">unread</span>
            {{else}}
                <a href="/unread" class="navitem">unread</a>
            {{end}}

            {{if hasPrefix .Path "/shortcuts"}}
                <span class="navitem">shortcuts</span>
            {{else}}
                <a href="/shortcuts" class="navitem">shortcuts</a>
            {{end}}

            {{if hasPrefix .Path "/tags"}}
                <span class="navitem">tags</span>
            {{else}}
                <a href="/tags" class="navitem">tags</a>
            {{end}}

            {{if hasPrefix .Path "/authors"}}
                <span class="navitem">authors</span>
            {{else}}
                <a href="/authors" class="navitem">authors</a>
            {{end}}

            &bullet;

            {{if hasPrefix .Path "/add"}}
                <span class="navitem">add url</span>
            {{else}}
                <a href="/add" class="navitem">add url</a>
            {{end}}
        </span>
    </nav>
</header>

{{template "content" .}}
